In [67]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier, DummyRegressor
import numpy as np

In [68]:
df = pd.read_csv('../data/bigml_59c28831336c6604c800002a.csv')
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [69]:
df = df.drop(columns = ['phone number', 'area code'])

In [70]:
df['average_hourly_night_rate'] = df['total night minutes'] / df['total night charge']

In [71]:
df['average_hourly_day_rate'] = df['total day minutes'] / df['total day charge']

In [72]:
df['average_hourly_intl_rate'] = df['total intl minutes'] / df['total intl charge']

In [73]:
df['average_hourly_eve_rate'] = df['total eve minutes'] / df['total eve charge']

In [74]:
df['total_minutes'] = df['total night minutes'] + df['total day minutes'] + df['total intl minutes'] + df['total eve minutes']

In [75]:
df.dropna(axis=0, inplace=True)

In [76]:
X = df.drop('churn', axis=1)
y = df['churn']

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [78]:
test_state_cat = X_test['state']

In [79]:
train_plan_ord = X_train[['international plan', 'voice mail plan']]

In [80]:
test_plan_ord = X_test[['international plan', 'voice mail plan']]

In [81]:
X_train

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,average_hourly_night_rate,average_hourly_day_rate,average_hourly_intl_rate,average_hourly_eve_rate,total_minutes
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,6.16,13.3,3,3.59,4,22.224026,5.882847,3.704735,11.766275,650.9
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,11.48,18.0,3,4.86,1,22.212544,5.884123,3.703704,11.764160,604.6
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.87,10.9,3,2.94,1,22.217111,5.882186,3.707483,11.765499,633.7
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,7.10,9.0,3,2.43,0,22.211268,5.881908,3.703704,11.763441,486.2
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,9.64,6.5,2,1.76,2,22.219917,5.881624,3.693182,11.763584,533.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,9.61,12.2,6,3.29,0,22.226847,5.881308,3.708207,11.763022,596.8
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,7.79,13.6,6,3.67,1,22.220796,5.881857,3.705722,11.767491,549.8
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,6.12,9.6,5,2.59,1,22.222222,5.881713,3.706564,11.764706,646.1
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,6.96,9.9,9,2.67,4,22.212644,5.881693,3.707865,11.765110,545.6
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,6.37,10.8,3,2.92,1,22.213501,5.882049,3.698630,11.767641,431.1

In [87]:
#training_data
training_data.to_csv('training_data2.csv')

In [88]:
# testing_data
testing_data.to_csv('testing_data2.csv')

In [84]:
X_train

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,average_hourly_night_rate,average_hourly_day_rate,average_hourly_intl_rate,average_hourly_eve_rate,total_minutes
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,6.16,13.3,3,3.59,4,22.224026,5.882847,3.704735,11.766275,650.9
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,11.48,18.0,3,4.86,1,22.212544,5.884123,3.703704,11.764160,604.6
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.87,10.9,3,2.94,1,22.217111,5.882186,3.707483,11.765499,633.7
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,7.10,9.0,3,2.43,0,22.211268,5.881908,3.703704,11.763441,486.2
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,9.64,6.5,2,1.76,2,22.219917,5.881624,3.693182,11.763584,533.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,9.61,12.2,6,3.29,0,22.226847,5.881308,3.708207,11.763022,596.8
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,7.79,13.6,6,3.67,1,22.220796,5.881857,3.705722,11.767491,549.8
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,6.12,9.6,5,2.59,1,22.222222,5.881713,3.706564,11.764706,646.1
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,6.96,9.9,9,2.67,4,22.212644,5.881693,3.707865,11.765110,545.6
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,6.37,10.8,3,2.92,1,22.213501,5.882049,3.698630,11.767641,431.1

In [86]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2484 entries, 228 to 3193
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      2484 non-null   object
 1   account length             2484 non-null   int64
 2   international plan         2484 non-null   object
 3   voice mail plan            2484 non-null   object
 4   number vmail messages      2484 non-null   int64
 5   total day minutes          2484 non-null   float64
 6   total day calls            2484 non-null   int64
 7   total day charge           2484 non-null   float64
 8   total eve minutes          2484 non-null   float64
 9   total eve calls            2484 non-null   int64
 10  total eve charge           2484 non-null   float64
 11  total night minutes        2484 non-null   float64
 12  total night calls          2484 non-null   int64
 13  total night charge         2484 non-null   float64
 14  total intl minutes         2484 non-null   float64
 15  total intl calls           2484 non-null   int64
 16  total intl charge          2484 non-null   float64
 17  customer service calls     2484 non-null   int64
 18  average_hourly_night_rate  2484 non-null   float64
 19  average_hourly_day_rate    2484 non-null   float64
 20  average_hourly_intl_rate   2484 non-null   float64
 21  average_hourly_eve_rate    2484 non-null   float64
 22  total_minutes              2484 non-null   float64
dtypes: float64(13), int64(7), object(3)
memory usage: 465.8+ KB